<nav>
    <div class="site-title">
        <a href="/"><h1>Home</h1></a>
        <p>CRUD operations - Employee Management</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/employees">Employees</a></li>
        <li><a href="/departments">Departments</a></li>
    </ul>
</nav>